body {
  font-family: 'Roboto', sans-serif !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 30px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.filters {
  margin-bottom: 20px;
}

table.roadmap-table {
  width: 100%;
  border-collapse: collapse;
}

table.fa-regular {
  font-weight: 500;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.1s all linear;
}

table.roadmap-table th,
table.roadmap-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table.roadmap-table th {
  background-color: #f2f2f2;
  color: #686868;
  font-weight: bold;
  cursor: pointer;
}

table.roadmap-table tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.row-details {
  display: none;
  background-color: #f2f2f2;
}

.show-details {
  display: table-row;
}

.details-container {
  padding: 10px;
  background-color: #f2f2f2;
  column-count: 3;
}

.details-container:hover {
  background-color: #f2f2f2;
  cursor: auto;
}

.details-row {
  margin-bottom: 5px;
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.footer p {
  font-size: 14px;
}
span.badge.text-bg-in.progress {
  background-color: blue;
  display: inline;
}
span.badge.text-bg-todo {
  background-color: darkgrey;
}
span.badge.text-bg-completed {
  background-color: darkgreen;
}

